<form method="post" action="/signup">
  <input type="email" name="email" id="email" placeholder="Email">
  <input type="password" name="password" id="password" placeholder="Password">
  <input type="text" name="username" id="username" placeholder="Username">
  <button type="submit">Signup</button>
</form>